# IDE
.idea/
.vscode/
*.iml

# Node / Frontend
node_modules/
dist/
unpackage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Maven / Backend
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs
logs/
*.log
.env
.env.local

# OS
.DS_Store
Thumbs.db
